nav{
    background: white;
}
.navbar-brand{
    display: flex;
    width: 100%;
    justify-content: center;
}
.component-content{
    text-align: center;
    background-color: #e9e9e9;
}
.component-content a{
    color: black;
    font-weight: bold;
}
.component-content p{
    padding: 10px 0px 10px 0px;
}

.nfy h4{
    text-align: center;
}
@media (min-width:500px){
    .footer-mobile{
        display: none;
    }
    .tc{
        display: none;
    }
    .hr{
        display: none;
    }
    i.bag{
        display: none;
    }
    div.search-bar-mobile{
        display: none;
    }
}
.vr{
    border-left: 1px solid gray;
    height: 150px;
    width: 5px;
}
@media(max-width:500px){
    .end{
        display: none;
    }
    .vr{
        display: none;
    }
    div.footer-content{
        margin-right: 0;
    }
    div.search-box{
        margin-left: 75px;
    }
    p.shop{
        display: none;
    }
    i.bag{
        display: inline;
    }
    div.search-bar{
        display: none;
    }
   
    div.img-1{
        height: 190px;
    }
    
}
.footer-content{
    margin-right: 180px;
    display: inline;
}
.cont-1{
    display: flex;
}
.img-1{
    height: 550px;
}
.shop{
    font-size: x-small;
    float: right;
}
.cont-2{
    margin:20px;
}
.images{
    margin-top: 20px;
    text-align: center;
}
.images p{
    font-size: 1vw;
}
.images a{
    color: black;
    font-weight: bold;
}
.footer-main{
    margin-top: 20px;
    background-color: #e9e9e9;
}
.bottom{
    font-size: x-small;
}
.bt-1{
    font-size: smaller;
}
.tc p{
    font-size: x-small;
}
.end,.follow{
    margin: 20px;
    text-align: center;
}
.follow span{
    font-weight: bold;
    font-size: 1vw;
}
.call a{
    text-decoration: none;
    color: black;
}
#contact{
    font-weight: bold;
    font-size: 2vw;
}
.txt{
    margin-left: 20px;
}
.txt a{
    text-decoration: none;
    color: black;
}
.foot-row{
    padding-top: 20px;
}
#p-foot{
    font-weight: bold;
    padding-left: 30px;
    font-size: smaller;
}
.c-foot{
    padding-top: 45px;
}
li a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
.foot-content-1,.foot-content-2{
    text-align: center;
}
.foot-content-1 a{
    color: black;
    text-decoration: none;
    font-weight: lighter;
}
.foot-content-2 span{
    font-size: 1vw;
    font-weight: bold;
}
.search-box{
    display: flex;
}
.search-box input{
    width: 220px;

}
.search-box button{
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0ic3VibWl0IiBkYXRhLW5hbWU9InN1Ym1pdCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNzYgNzYiPjxkZWZzPjxzdHlsZT48L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iLmdyZXk0OSIgZD0iTTAgMGg3NnY3NkgweiIvPjxwYXRoIGZpbGw9IiNjM2MzYzMiIGQ9Ik0yNS40MSA2MC41bDEuMjkgMS4zIDIyLjYtMjIuNiAxLjI5LTEuMjl2LS4wMWwtMS4yOS0xLjI5di4wMWwtMjIuNi0yMi42LTEuMjkgMS4yOUw0OCAzNy45MSAyNS40MSA2MC41eiIvPjwvc3ZnPg==);
    height:30px;
    width:30px;
    display: inline;
}
